

body {
    background-color: #296159;
    overflow-x: hidden;
}


#home {
    display: flex;
}
#home .container{
padding-top: 5px;
}


#home h1 {

    color: white;
    font-size: 78px;
    font-weight: bolder;
    /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: ProximaNova, arial, "Helvetica Neue", sans-serif;
}
#home .container img{
    width: 650px;
    margin-right: -89px;
}

.orderBtn {
    background-color: #e8522a;
    color: white;
    margin-top: 25px;
    margin-left: 9px;
    padding: 5px;
    border-radius: 3px;
    border-style: none;
    width: 150px;
}


@media(max-width:500px){
    body{
        max-width: 500px;
        overflow-x: hidden;
    }
    #home{
        min-height:550px ;
        max-height: 1100px;
    }
    #home h1 {
        font-size: 35px;
    }
    #home .container img{
        width: 300px;
        margin: 0;
    }
    .btns{
        margin-top: 80px;
    }
    .orderBtn{
        margin-top: 15px;
        width: 90px;
    }
}


